/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#container {
	font-family: 'Raleway', sans-serif;
}
#header{
	position:relative;
	z-index:2;
}
.topHeader-container{	
	background:#fff;
}
#topHeader {
    max-width: 1170px;
    margin: auto;
}
#topHeader a {
	text-decoration:none;
	color: #34495e;
	font-size:15px;
	border-left: 1px solid #dde2e6;
    line-height: 40px;
    display: inline-block;
	padding:0 10px;
}
#topHeader a:hover{
	color:#0CC0F6;
}
#topHeader a.fa-phone{	
	border-right:1px solid #dde2e6;
}
#topHeader a span{
	display:inline-block;
	padding-right:10px;
}
#topHeader ul.social{
	 list-style-type: none;
}
#topHeader ul.social li{
	float:left;
}
#topHeader ul.social li a{
	border:none;
}
.navigation-container{
	background:#071c33;
	background:rgba(7, 28, 51, 0.8);
	position: absolute;
	width: 100%;
}
#navigation {
    max-width: 1170px;
	margin:auto
}
#navigation .navbar-default {
    background-color: transparent;
	border:none;
	margin:0;
}

.navbar-default .navbar-brand{
	color:#fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
    margin: 0 8px;
    border-radius: 5px;
    -webkit-transition: background 300ms ease-in;
    -moz-transition: background 300ms ease-in;
    -ms-transition: background 300ms ease-in;
    -o-transition: background 300ms ease-in;
    transition: background 300ms ease-in;
}
.navbar-default .navbar-nav>li>a.active{
	background: #0CC0F6;
}
.navbar-default .navbar-nav>li>a:hover {
    background: #0CC0F6;
}
.navbar-default .navbar-nav>li>a.focus{
	background: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	 color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color:#fff;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
	margin:0;
	padding:0;
	border:none;
	position: relative;
	top: -15px;
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#0CC0F6;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}
.navbar-default .navbar-toggle{
	border-color: black;	
}
.section-content{
	padding: 40px 0;
}
.section-experience{
	padding:50px 0;
}

hr.short {
    border: none;
    height: 2px;
    width: 70px;
    display: inline-block;
}
.bg-primary {
    background-color: #0CC0F6;
    color: #fff;
}

.counter.animated {
    font-size: 68px;
}

.carousel,.item,.active {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.section-content h4 {
    font-size: 24px;
}

.section-content p {
    line-height: 1.6em;
}
.section-content hr {
    margin:5px 0;
}
.page-footer {
	padding-top:40px;
	border-top: 1px solid #f5f5f5;
	background: #fff;
}
.contact-info dl dt, .contact-info dl dd{	
	display:inline-block;
}
.page-footer h3 {
    font-size: 20px;
	margin:0;
	margin-bottom:10px;
}

footer.page-footer a {
    color: #0CC0F6;
    text-shadow: 1px 1px 1px gainsboro;
}

footer.page-footer ul {
    padding: 0;
    list-style-type: none;
}
.page-footer.footer-widget .copyright {
	padding-bottom: 11px;
}
.page-footer.dark .copyright {
	background: #f5f5f5;
	color: #34495e;
}
.page-footer .copyright {
	background: #f5f5f5;
	padding: 10px;
	padding-bottom: 6px;
	font-size: 15px;
	letter-spacing: 0.02em;
	border-top: 1px solid #D0D0D0;
}
footer.page-footer h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#success_message{ display: none;}

@media (min-width:768px){
	#navigation .navbar-default {
		padding: 20px 0;
	}
	#navigation .navbar-nav{
		float:right;
	}
	#topHeader{
		    padding: 0 20px;
	}
	.carousel {
		position: relative;
	}
	.carousel-inner {
		height: 600px;
		overflow: inherit;
	}
	
}
@media (max-width:768px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-top:10px;
		border-color: black;	
	}
	.section-content{
		padding:40px 0;
	}
	.carousel-inner {
		height: 400px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		top: -10px;
		-ms-transform: scale(0.6,0.6);
		-webkit-transform: scale(0.6,0.6);
		transform: scale(0.6,0.6);
	}
}